[Unit]
Description=Botforje-js - WhatsApp Bot Service
After=network.target
Documentation=https://github.com/felixzsh/botforje

[Service]
Type=simple
ExecStart={{NODE}} {{SCRIPT}} daemon
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=botforje-js
LimitNOFILE=65536
PrivateTmp=true

[Install]
WantedBy={{WANTED_BY}}
